{% load static %}

<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Blog do Joao">
    <meta name="author" content="João Damaceno">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/reset.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" />
    <title>{% block title %} Blog {% endblock %}</title>
  </head>
   <body>
      <nav>
      <ul class="nav-links">
        <li><a href="#">Home</a></li>
        <li><a href="#">Posts</a></li>
        <li><a href="#">Sobre mim</a></li>
      </ul>
      </nav>

      <header>
        <h1 class="header-titulo">Hello World!</h1>
        <h2 class="header-sub-titulo">This is my First Blog and Site</h2>
      </header>

    <main>
        <!--Sidebar das Redes sociais-->
        <div class="social-sidebar" id="social-sidebar">
          <ul>
            <li>
              <a class="entypo-github" href="#"><span>Github</span></a>
            </li>
            <li>
              <a class="entypo-linkedin" href="#"><span>Linkedin</span></a>
            </li>
            <li>
              <a class="entypo-twitter" href="#"><span>Twitter</span></a>
            </li>
          </ul>
        </div>

        <!--Blocos dos Post-->
        <div class="container">
          <div class="card">
            <div class="card__header">
              <a href="#" class="link-post">
                <img src="{% static 'blog/img/header_do_home.jpg' %}" alt="card__image" />
              </a>
            </div>
            <div class="card__body">
              <span class=" tag tag-blue">Technologia</span>
              <h4><a class="link-post" href="#">Hello World!</a></h4>
              <p>O que eu esperaria desse meu primeiro post no Blog ? É surreal a quantidade de coisas que você pode fazer com a programação. O motivo
                que me levou a estudar a computação e também outras coisas..
              </p>
              <div class="card__footer">
                <div class="user">
                  <img src="{% static 'blog/img/perfil_avatar.jpg' %}" alt="user__image" class="user__image">
                  <div class="user__info">
                    <h5>João Damaceno</h5>
                    <small>13 de Nov</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

  </body>


</html>