{% load static %}


<!DOCTYPE html>
<html lang="PT-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Blog do Joao">
    <meta name="author" content="João Damaceno">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/reset.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}" />
    <title>{% block title %} Blog {% endblock %}</title>
  </head>
   <body>
     {% include 'partials/navbar.html' %}
      {% block content %}
      <header>
        <h1 class="header-titulo">Hello World!</h1>
        <h2 class="header-sub-titulo">This is my First Blog and Site</h2>
      </header>
    <main>
      {% include 'partials/cardbar.html' %}
    </main>
  </body>
  {% endblock %}

</html>