@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;

}

.nav__links {
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9
}

.nav-contacts a, i{
    padding: 3px;
    
}
.max-width {
    max-width: 850px;
}

.single {
    color: rgba(0,0,0,.84)
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 90px;
}

.img-post {
    width: 560px;
    height: 315px;
}

.img-blog {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-title h3 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 39px;
    margin: auto;
    width: auto;
    max-width: auto;
    line-height: 45px;
}

.post-title h4 {
    font-style: italic;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
}